/***************************************************************
 *
 *  global  styles
 *
*********************************************************/
h1,h2,h3,h4,h5,h6,p  {
    color: #2a2a2a;
}
p {
    font-size: 18px
}
h2 {
    font-weight: 700;
}
h4,h5 {
    font-weight: 500;
}
.sft-btn-secondary,.sft-btn-primary {
    font-size: 16px;
    padding: 8px 30px;
}
.sft-btn-primary {
border: 1px solid transparent;
}
.theme-menu-five .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    font-weight: 500;
}
.px-70 {
    padding-left: 70px;
    padding-right: 70px;
}
.title-link {
    font-size: 20px;
    font-weight: 500;
    color: #2a2a2a
}
.sft-hero-section {
    background-size: 100%;
    background-repeat: no-repeat;
}
.sft-hero-section::before {
    content: initial;
}
.logo {
    width: 120px
}
/***************************************************************
 *
 *  maildol  styles 
 *
*********************************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* global styles */
.maildol-wrapper {
    font-family: 'Roboto', sans-serif!important;
}

/*  primary color*/
.maildol-wrapper .sft-color-primary {
    color: #821ef5;
}
.sft-color-secondary {
    color: #2a2a2a;
}

/* buttons */
.maildol-wrapper .sft-btn-primary {
    background: #821ef5;
    border: 1px solid transparent;
}
.maildol-wrapper .sft-btn-primary:hover {
    background: #fff;
    color: #821ef5;
    border: 1px solid #821ef5;
}
.maildol-wrapper .sft-btn-secondary {
    color: #821ef5;
    border: 1px solid #821ef5;  
}
.maildol-wrapper .sft-btn-secondary:hover {
    background: #821ef5;
    border: 1px solid transparent;
    color: #fff;
}
.maildol-wrapper .sm-title  {
    color: #821ef5;
    font-family: 'Roboto', sans-serif;
}
.maildol-wrapper .title-link:hover {
    color: #821ef5;
}
/***************************************************************
 *
 *  maildol  styles  end
 *
*********************************************************/
/***************************************************************
 *
 *  khadyo  styles 
 *
*********************************************************/

/* global styles */
.khadyo-wrapper {
    font-family: 'Recoleta Regular DEMO'!important;
}

/*  primary color*/
.khadyo-wrapper .sft-color-primary {
    color: #ff2759;
}

/* buttons */
.khadyo-wrapper .sft-btn-primary {
    background: #ff2759;
}
.khadyo-wrapper .sft-btn-primary:hover {
    background: #fff;
    color: #ff2759;
    border: 1px solid #ff2759;
}
.khadyo-wrapper .sft-btn-secondary {
    color: #ff2759;
    border: 1px solid #ff2759;  
}
.khadyo-wrapper .sft-btn-secondary:hover {
    background: #ff2759;
    border: 1px solid transparent;
    color: #fff;
}
.khadyo-wrapper .sm-title  {
    color: #ff2759;
    font-family: 'Roboto', sans-serif;
}
.khadyo-wrapper .title-link:hover {
    color: #ff2759;
}
/***************************************************************
 *
 *  khadyo  styles  end
 *
*********************************************************/




/* single feature */
.sft-single-fea {
    padding: 25px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 11px 21px 0px rgba(0, 18, 124, 0.1);
}
.sft-single-fea .sm-title {
    font-size: 16px;
    display: block;
    font-weight: 500;
}
.sft-fea-section {
    padding-top: 120px;
    padding-bottom: 60px;
}

/* docs sections */
.sft-docs-section {
    background: #f3e8ff;
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
}

.docs-pos-img {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 258px;
}

.convertion-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f7faff;
}
